__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.log
build/
dist/
venv/
*.egg-info/
test-results/
.vscode/
.idea/
*.DS_Store/
*.swp/
*.swo/
*.swn/
*.bak/
*.bak~
*.orig
*.sql
*.sqlite3
*.sqlite
*.py~
*.db
*.env.test
*.env.prod
*.pyo
*.pyc
*.pyd
